html, body{
    font-family: 'IBM Plex Sans', sans-serif;
}

h1{
    text-align: center;
}

#container{
    height: 600px;
    width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#buttonHolder{
    width: 700px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

button{
    margin-left: 20px;
}

#changeDimensionOfTheGrid{
    flex: 1;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    background-color: white;
    padding: 30px;
    border-radius: 50px;
}

#changeDimensionOfTheGrid:hover{
    border: 5px solid black;
}

#clearTheGrid{
    flex: 1;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    background-color: white;
    padding: 30px;
    border-radius: 50px;
}

#clearTheGrid:hover{
    border: 5px solid black;
}

